{% macro info_row(name, value) %}
    <tr>
        <th class="label">{{ name }}</th>
        {% if value != null %}
            <td class="data">{{ value }}</td>
        {% else %}
            <td class="data"><i>Not entered</i></td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro divider() %}
    <tr>
        <td colspan="2" class="divider"><hr /></td>
    </tr>
{% endmacro %}
