h2 {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    min-width: 500px;
    width: 48%;
}

p {
    margin-top: 10px;
    margin-bottom: 25px;
}

table, td, th {
    border: 1px solid #DFDFDF;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 800px;
}

th {
    background-color: #F5F5F5;
}

th, td {
    padding: 5px;
}

.grade {
    width: 50px;
}