p {
    margin: 0;
    padding: 0;
}

table, td, th {
    border: 1px solid #DFDFDF;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

th, td {
    padding: 5px;
}

th {
    background-color: #F5F5F5;
}

form {
    margin-top: 10px;
}