html {
    background-color: #efefef;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #000;
}

a:hover {
    color: #666;
}

h1 {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    padding: 0 50px;
    min-width: 1000px;
}

#header {
    padding: 20px 30px;
}

#title {
    font-size: 24px;
}

#user-info {
    float: right;
    padding-top: 3px;
}

#flash-notice-wrapper {
    left: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%
}

#flash-notice {
    background-color: #CCE6FF;
    border: 1px solid #2e5ad6;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 5px 15px;
}

#main {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    display: block;
    padding: 0;
}

#content-wrapper {
    float: left;
    width: 100%;
}

#content {
    border-left: 1px solid #dfdfdf;
    margin-left: 200px;
    min-height: 400px;
    padding: 40px 50px;
}

#content h1 {
    font-size: 24px;
}

#content h2 {
    font-size: 20px;
}

#navigation {
    float: left;
    margin-left: -100%;
    width: 200px;
}

#menu-links {
    margin: 0;
    padding: 0;
}

#menu-links li {
    background-color: #efefef;
    border-bottom: 1px solid #dfdfdf;
    display: block;
    list-style: none outside none;
}

#menu-links li a {
    cursor: pointer;
    display: block;
    padding: 20px 40px;
    text-decoration: none;
}

#menu-links li a:hover {
    background-color: #e7e7e7;
}

#menu-links li:first-child, #menu-links li:first-child a {
    border-radius: 10px 0 0 0;
}

.selected {
    background-color: #d7d7d7 !important;
}

.clear-fix {
    clear: both;
}

.ui-autocomplete {
    background-color: white;
    border: 1px solid black;
    list-style: none;
    padding: 0;
    width: 500px;
}

a.ui-corner-all {
    display: block;
    margin: 0;
    padding: 5px 10px;
}

a.ui-state-hover {
    background-color: #e7e7e7 !important;
    display: block;
}

.placeholder {
    color: #a1a1a1;
    font-style: italic;
}