html {
    background-color: #efefef;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    margin: 0 auto;
    padding: 0 50px;
}

#header {
    padding: 30px 30px 20px;
}

#title {
    font-size: 24px;
}

#main {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px 10px 10px 10px;
    display: block;
    padding: 0;
}

#main:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

#content-wrapper {
    float: left;
    width: 100%;
}

#content {
    margin-left: 200px;
    padding: 40px, 50px;
}

#navigation {
    float: left;
    margin-left: -100%;
    width: 200px;
}