#message-form {
    margin-top: 10px;
}

#message-form label {
    font-size: 18px;
    display:block;
}

#message-form input, #message-form select {
    font-size: 18px;
    margin-bottom: 15px;
}

#message-form textarea {
    font-size: 18px;
    height: 200px;
    margin-bottom: 15px;
    width: 500px;
}


#recipients {
    border: 1px solid #878787;
    margin-bottom: 15px;
    width: 500px;
}

.recipient-box, .recipient-name, .recipient-remove, #recipient-add {
    display: inline-block;
}

.recipient-box {
    background-color: #F1F7E2;
    border: 1px solid #D0DBB3;
    margin: 7px 2px;
    padding: 2px 5px;
}

.recipient-remove {
    margin-left: 5px;
}

.recipient-remove a {
    color: #B3698E;
    text-decoration: none;
}

#recipient-add {
    margin: 5px 2px;
    padding: 2px 5px;
    vertical-align: middle;
    width: 200px;
}

#recipient-add input {
    display: none;
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
}