#message-form {
    margin-top: 10px;
}

#message-form label {
    font-size: 18px;
    display:block;
}

#message-form input, #message-form select {
    font-size: 18px;
    margin-bottom: 15px;
}

#message-form textarea {
    font-size: 18px;
    height: 200px;
    margin-bottom: 15px;
    width: 500px;
}

#message-form input:not([type=submit]) {
    width: 500px;
}