p {
    margin: 0;
    padding: 0;
}

table, td, th {
    border: 1px solid #DFDFDF;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 800px;
}

th, td {
    padding: 5px;
}

th {
    background-color: #F5F5F5;
}

#quiz-form {
    margin-top: 10px;
}

label {
    display:block;
    font-size: 18px;
}

input, select {
    font-size: 18px;
    margin-bottom: 15px;
}

textarea {
    font-size: 18px;
    height: 100px;
    margin-bottom: 15px;
    width: 500px;
}


#instructions {
    background-color: #FFE5E5;
    border: 1px solid #B3698E;
    margin: 10px 0 30px 0;
    padding: 20px;
}

.problem {
    border: 1px solid #C7D49E;
    margin: 10px 0 30px 0;
    position: relative;
}

.question {
    float: left;
    min-height: 50px;
    width: 45%;
}

.question, .answers {
    /* font-size: 20px; */
    padding: 20px;
}

.answers {
    float: right;
    /* font-family: STIXGeneral;
    font-style: italic; */
    width: 45%;
}

#quiz-form .answer {
    border: 1px solid #C7D49E;
    padding: 15px;
}

.divider {
    border-left: 1px solid #C7D49E;
    bottom: 0px;
    left: 50%;
    position: absolute;
    top: 0px;
}

.submit {
    font-size: 20px;
}
