p {
    margin: 0;
    padding: 0;
}

#instructions {
    border: 1px solid #B3698E;
    margin: 10px 0 30px 0;
    padding: 20px;
}

.problem {
    border: 1px solid #C7D49E;
    margin: 10px 0 30px 0;
    position: relative;
}

.question {
    float: left;
    min-height: 50px;
    padding: 20px;
    width: 45%;
}

.question, .answer {
    font-size: 20px;
}

.answer {
    float: right;
    font-family: STIXGeneral;
    font-style: italic;
    padding: 30px 20px;
    width: 45%;
}

.divider {
    border-left: 1px solid #C7D49E;
    bottom: 0px;
    left: 50%;
    position: absolute;
    top: 0px;
}

.submit {
    font-size: 20px;
}
