#user-profile #user-avatar {
    border: 1px solid #dfdfdf;
    color: #bbb;
    float: left;
    height: 100px;
    line-height: 7em;
    text-align: center;
    width: 100px;
}

#user-profile #user-basic-info {
    float: left;
    margin-left: 20px;
}

#user-profile table {
    width: 100%;
}

#user-profile table .divider hr {
    background: none repeat scroll 0 0 #999;
    border-width: 0;
    color: #999;
    height: 1px;
    padding: 0;
    margin: 0;
}

#user-profile tr .label {
    color: #555;
    line-height: 20px;
    padding-top: 3px;
    text-align: left;
    vertical-align: top;
    width: 150px;
}

#user-profile tr .data {
    line-height: 20px;
    padding-top: 3px;
    vertical-align: top;
}

#user-profile tr .data-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-form {
    margin-top: 10px;
}

#content label {
    font-size: 18px;
    display:block;
}

#content legend {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0;
    width: 93%;
}

#content input, #content select {
    font-size: 18px;
    margin-bottom: 15px;
}

#content input:not([type=submit]) {
    width: 500px;
}

#content .education-panel select {
    width: 300px;
}

.user-panel {
    border: 0;
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    width: 370px;
}

.user-panel h2 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#exams select {
    width: 170px !important;
}

#exams input {
    display: inline;
    width: 50px !important;
}