{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Attendance" %}

{% block content %}
    <h1>Attendance {{ page }}</h1>
    <p>attendance page content 1</p>
    <p>attendance page content 2</p>
{% endblock %}
