{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Home" %}

{% block content %}
    <h1>Home {{ page }}</h1>
    <p>home page content 1</p>
    <p>home page content 2</p>
{% endblock %}
