{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Home" %}

{% block content %}
    <h1>Announcements</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="#">New Annoucement</a></p>
    {% endif %}


    <h2>Annual STEP Conference &mdash; March 30 - April 1, 2012</h2>
    <div style="min-width: 500px; width: 48%;">
        <p>Our goal is to have all St. Lawrence IMPETUS students attend the STEP Statewide Student Conference, taking place March 30 - April 1, 2012. Students select a topic, and design and carryout a research project, during the Fall. An abstract about the research should be submitted to the Clarkson faculty in early January. A Clarkson panel of judges will select the best abstract(s). The winners will represent IMPETUS at the STEP conference. Past topics have included "Internet Predators", "The Oil Menace: A Modern Approach to Oil-Spill Cleanup", "Do Mice Have Better Memories Than Rats?", "Global Warming: Here and Now", and "The Change of the Ideal Body Image Over Time".</p>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="#">Edit</a></p>
    {% endif %}

{% endblock %}
