{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Path" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/path.css') }}" rel="stylesheet" />

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/FastMarkerOverlay.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/path.js') }}"></script>

    <script type="text/javascript">
      $(function() {
          PathMap.init('../../bundles/impetusapp/images/');
      });
    </script>
{% endblock %}

{% block content %}
    <h1>Common Core State Standards Pathway</h1>
    <div id="box"></div>
    <div id="map-canvas"></div>
{% endblock %}
