{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Path: Exponents 1" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/path.css') }}" rel="stylesheet" />

    <script type="text/javascript">
    </script>
{% endblock %}

{% block content %}
    <h1>Exponents 1</h1>
    <h2>Common Core State Standards</h2>
    <ol>
        <li>Lorem ipsum dolor sit amet...</li>
    </ol>

    <h2></h2>


    <h2>Quizzes</h2>
    <ul>
        <li><a href="#">Exponents Quiz 1</a></li>
    </ul>

    <h2>Khan Academy Resources</h2>
    <ul>
        <li><a href="http://www.khanacademy.org/video/exponent-rules-1?playlist=Algebra+I+Worked+Examples">Exponent Rules 1</a></li>
    </ul>
{% endblock %}