{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Quiz" %}

{% block content %}
    <h1>Quiz {{ page }}</h1>
    <p>quiz page content 1</p>
    <p>quiz page content 2</p>
{% endblock %}
