{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Schedule" %}

{% block content %}
    <h1>Schedule {{ page }}</h1>
    <p>schedule page content 1</p>
    <p>schedule page content 2</p>
{% endblock %}
