{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Survey" %}

{% block content %}
    <h1>Survey {{ page }}</h1>
    <p>survey page content 1</p>
    <p>survey page content 2</p>
{% endblock %}
