{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Config: Courses" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/config.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Courses</h1>

    <p style="margin: 14px 0;"><a href="{{ path('_config_courses_new') }}" style="font-size: 16px;">New Course</a></p>

    <table id="courses-table">
        <tr>
            <th>Course</th>
            <th class="actions">Actions</th>
        </tr>
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>
                <a href="#">Edit</a>
                &mdash;
                <a href="#" course-id="{{ course.id }}" class="delete-course">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3"><i>No courses</i></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
