{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Config: Exams" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/config.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Exams</h1>

    <p style="margin: 14px 0;"><a href="{{ path('_config_exams_new') }}" style="font-size: 16px;">New Exam</a></p>

    <table id="exams-table">
        <tr>
            <th>Exam</th>
            <th class="actions">Actions</th>
        </tr>
    {% for exam in exams %}
        <tr>
            <td>{{ exam.name }}</td>
            <td>
                <a href="#">Edit</a>
                &mdash;
                <a href="#" exam-id="{{ exam.id }}" class="delete-exam">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3"><i>No exams</i></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
